---
import BaseLayout from '../layouts/BaseLayout.astro';

import ContactCTA from '../components/ContactCTA.astro';
import Hero from '../components/Hero.astro';
---

<BaseLayout title="About | Suraj Mishra" description="About Suraj Mishra Lorem Ipsum">
	<div class="stack gap-20">
		<main class="wrapper about">
			<Hero
				title="About"
				tagline="Thanks for stopping by. Read below to learn more about myself and my background."
			>
				<img
					width="1553"
					height="873"
					src="/Users/surajmishra/Downloads/fullstack-admin-master/IMG_1246.JPG"
					alt="Suraj Mishra at work with a colleague"
				/>
			</Hero>

			<section>
				<h2 class="section-title">Background</h2>
				<div class="content">
					<p>
						Welcome to my portfolio! I'm Suraj Mishra, a Master's candidate in Computer Science at Northeastern University, specializing in full-stack development, data analytics, and machine learning. 
					</p>
					<p>
						My journey has spanned from dynamic web development internships to impactful research projects, such as a Movie Recommendation System and a Real-time Drowsiness Detector. Here, you'll find a showcase of my work that highlights my passion for creating technology that improves user experiences and drives efficiency. 
					</p>
					<p>
						Dive into my projects to see how I blend technical expertise with innovative problem-solving to build smarter, user-centered solutions.
					</p>
				</div>
			</section>
			<section>
				<h2 class="section-title">Education</h2>
				<div class="content">
					<p>Northeastern University, Boston, MA
						Khoury College of Computer Sciences
						Candidate for a Master of Science in Computer Science (Sept 2023 – Present)
						Expected Graduation: 2025
						Relevant Courses: Algorithms, Database Management Systems, Web Development</p>

					<p>SRM Institute of Science and Technology, Chennai, India
						Bachelor of Technology in Computer Science (Graduated June 2023)
						GPA: 9.03/10
						Relevant Courses: Object Oriented Programming, Data Structures, Databases, Software Engineering, AI</p>
				</div>
			</section>
			<section>
				<h2 class="section-title">Skills</h2>
				<div class="content">
					<p>Programming Languages

						Java, C++, Python: Advanced
						JavaScript, R: Intermediate
						Databases
						
						MySQL, MongoDB: Proficient in database management and optimization
						Web Technologies
						
						Frontend: HTML, CSS, React.js, Material UI
						Backend: Node.js, Express.js
						State Management: Redux Toolkit, Redux Toolkit Query
						Analytics Tools
						
						Data Visualization and Analysis: Power BI, Tableau
						Spreadsheet Proficiency: Advanced Excel skills
						Machine Learning & AI
						
						Frameworks: TensorFlow, Pandas, NumPy
						Specializations: Convolutional Neural Networks (CNN)
						Integration & APIs
						
						Database Integration: PyMySQL
						Web Services: RESTful APIs
						Certifications
						
						Oracle Database Certification
						Machine Learning by Dr. Andrew Ng on Coursera
						My technical toolkit is constantly evolving, as I stay abreast of the latest technologies and methodologies. I am passionate about leveraging my skills to create impactful, user-centric solutions.</p>
				</div>
			</section>
		</main>

		<ContactCTA />
	</div>
</BaseLayout>

<style>
	.about {
		display: flex;
		flex-direction: column;
		gap: 3.5rem;
	}

	img {
		margin-top: 1.5rem;
		border-radius: 1.5rem;
		box-shadow: var(--shadow-md);
	}

	section {
		display: flex;
		flex-direction: column;
		gap: 0.5rem;
		color: var(--gray-200);
	}

	.section-title {
		grid-column-start: 1;
		font-size: var(--text-xl);
		color: var(--gray-0);
	}

	.content {
		grid-column: 2 / 4;
	}

	.content :global(a) {
		text-decoration: 1px solid underline transparent;
		text-underline-offset: 0.25em;
		transition: text-decoration-color var(--theme-transition);
	}

	.content :global(a:hover),
	.content :global(a:focus) {
		text-decoration-color: currentColor;
	}

	@media (min-width: 50em) {
		.about {
			display: grid;
			grid-template-columns: 1fr 60% 1fr;
		}

		.about > :global(:first-child) {
			grid-column-start: 2;
		}

		section {
			display: contents;
			font-size: var(--text-lg);
		}
	}
</style>
